.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: none;
  border-bottom: 2px solid #3772ff;
  padding: 10px 0;
  margin-bottom: 2rem;
  /* width: 100vw; */
}

.nav-links {
  width: 920px;
  display: flex;
  justify-content: space-between;
}

.nav-link-home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 2rem;
}

.home-text {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.nav-link-home > img:first-child {
  transform: rotate(30deg);
  transition: transform 0.1s ease;
  position: absolute;
  left: 100%;
}

.nav-link-home > img:last-child {
  transform: rotate(-30deg);
  transition: transform 0.1s ease;
  position: absolute;
  right: 100%;
}

.nav-link-home:hover > img:first-child {
  transform: rotate(15deg);
}

.nav-link-home:hover > img:last-child {
  transform: rotate(-15deg);
}

.nav-link-shopping {
  display: flex;
  gap: 1.5rem;
  /* align-items: center; */
  justify-content: center;
}

.nav-links > * {
  margin-right: 1rem;
}

.shopping-cart-icon {
  cursor: pointer;
  position: relative;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  position: relative;
  z-index: 1;
  top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shopping-cart-icon::after {
  position: absolute;
  content: "";
  width: 7px;
  height: 10px;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 50% 50% 0 0;
  left: 5px;
  top: -12px;
  z-index: -1;
}

.nav-links > * {
  margin-right: 1rem;
}

.nav-link {
  text-decoration: none;
}
