:root {
  --page-background: #d9d9d9;
  --element-background: #e6e8e6;
  --shadow-blue: -5px 5px 0 0 #3772ff;
  --shadow-blue-small: -2px 2px 0 0 #3772ff;
  --shadow-blue-far: -7px 7px 2px 0 #3772ff;
  --shadow-red: -5px 5px 0 0 #df2935;
  --shadow-red-small: -3px 3px 0 0 #df2935;
  --shadow-red-far: -7px 7px 2px 0 #df2935;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--page-background);
}

.page {
  width: 920px;
  margin: 0 auto;
}
